@font-face {
    font-family: 'Italiana-Regular';
    src: url('fonts/Italiana-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KyivTypeSerif-Medium';
    src: url('fonts/KyivTypeSerif-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KyivTypeSerif-Regular';
    src: url('fonts/KyivTypeSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('images/background.png');
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    height: 60px;
    border-bottom: 2px solid #000;
    margin-left: 40px;
    margin-right: 40px;
}

header div {
    margin: 10px;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
}

header .with-border{
    border-right: 1px solid #000;
}

header p {
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    cursor: pointer;
}

header p:hover {
    transform: translateY(-5px);
}

header .search-field {
    display: flex;
    flex-grow: 1;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
}

header .icon.expanded {
    width: 100%; 
    border: 1px solid #000;
}

header .search-field input {
    width: 100%;
    box-sizing: border-box; 
    border: none;
    outline: none;
    background-color: transparent;
    color: #000;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 22px;
}

#search-input {
    color: black; 
}

label {
    margin-right: 5px;
}

header .search-field.expanded input {
    border: 1px solid #000; 
}

header img {
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

header .icon {
    width: fit-content;
    margin: 0%;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    margin-left: auto;
}

header img:hover {
    transform: translateY(-5px);
}

header .buttontext {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 40px;
    width: 100px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
}

header .button:hover {
    transform: translateY(-5px);
}

footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #000;
    margin-left: 40px;
    margin-right: 40px;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column p {
    margin: 5px 0;
    text-align: center;
    color: black;
}

.footer-column a {
    text-decoration: none;
}

.footer-center {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    text-align: center;
    color: black;
    margin-top: 25px; 
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;

}

.books {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 480px;
}

.books img{
    height: 500px;
}

.books img:hover {
    transform: translateY(-5px);
}

.main-title{
    display: flex;
    flex-direction: row;
}

.main-text{
    width: 70%;
}

.main-text p{
    font-family: 'KyivTypeSerif-Regular';
    width: 700px;
}

.letters{
    display: flex;
    flex-direction: column;
}

.bestchoice{
    font-family: 'KyivTypeSerif-Medium';
    color: #CC6E00;
    font-size: 21px;
}

.highlight {
    color: #CC6E00;
}